* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.container {
    width: 80%;
    margin: auto;
}

.clearfix::after {
    content: "";
    display:table;
    clear: both;
}

.site-header {
    margin: 20px 0 30px 0;
}

.logo {
    margin-bottom: 20px;
    height: 70px;
    vertical-align: middle;
    padding-right: 20px;
    border-right: 2px solid #e7e7e7;
}

nav ul {
    text-align: left;
    margin: 20px 0;    
}

nav li {
    display: inline;
    margin-right: 8px;
}

ul a {
    text-decoration: none;
    color: #9f9f9f;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.jumbo-tron {
    background-image: url(../img/banner.jpg);
    height: 450px;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    margin: 20px 0 30px 0;
}

.overlay {
    background:black; 
    opacity: 0.3;
    height: 450px;
    border-radius: 15px;
}

.paragrafo1 {
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 32px;
    padding-top: 270px;
    margin: 0 500px 0 50px;
}

.paragrafo2 {
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0 570px 0 50px;
}
.main-header {
    height: 100%;
    margin-bottom: 30px;
}

h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 39px;
    font-weight:bolder;
}

.header-p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #9f9f9f;
}

/* RIQUADRO CONTROLLO */
main .blue {
    height: 400px;
    margin-bottom: 20px;
}
/* / RIQUADRO CONTROLLO */

.blue .aside-left {
    float: left;
    width: 23%;
    margin-right: 2%;
}

.image1 {
    background-image: url(../img/img-1.jpg);
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.overlay-image1 {
    background:black; 
    opacity: 0.3;
    height: 200px;
    border-radius: 15px;
}

.blue .article {
    float: left;
    width: 50%;
    height: 500px;
    margin-right: 2%;
}

.image2 {
    background-image: url(../img/banner-2.jpg);
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.overlay-image2 {
    background:black; 
    opacity: 0.3;
    height: 200px;
    border-radius: 15px;
}

.blue .aside-right {
    float: left;
    width: 23%;
}

.image3 {
    background-image: url(../img/img-3.jpg);
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.overlay-image3 {
    background:black; 
    opacity: 0.3;
    height: 200px;
    border-radius: 15px;
}

h4 {
    font-family:Arial, Helvetica, sans-serif;
    color: #5d5d5d;
    font-size: 16px;
    padding: 15px 0;
}

.paragrafo-blue {
    font-family:Arial, Helvetica, sans-serif;
    color: #9f9f9f;
    font-size: 15px;

}

#footer-p {
    float: left;
    color: black;
    font-size: 18px;
    margin: 10px 0 0 -500px;

}
